/* HTML Tag Styles */
body {
  background-color: #fff;
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-weight: 200;
  font-size: 1rem;
}

/* Bootstrap class Overrides */
.container-fluid {
  padding: 2% 10% 2%;
}

.navbar-brand {
  font-size: 1.7rem;
  font-weight: 700;
  opacity: 0.75;
}

.navbar-brand:hover {
  opacity: 1;
}

/* Color Codings */
.white-section {
  background-color: #fff;
  color: black;
}

.white-section p {
  color: rgb(146, 143, 143);
}

.color-section {
  /* background-color: <Set-Color>; */
  /* ^^ set based on each section */
  color: #fff;
}

.color-section p {
  color: rgb(233, 233, 233);
}

/* Title Section */
#title .container-fluid {
  padding-top: 2%;
}

.profile-img {
  width: 40%;
  border-radius: 100%;
  box-shadow: 2px 2px 10px gray;

  animation: fadeInDown 1s;
}

.title-heading {
  font-size: 3.7rem;
  margin-top: 3.5%;

  animation: fadeInUp 1.1s;
}

.title-subtitle {
  padding: 1.2%;
  animation: fadeInUp 1.5s;
}

/* Project Preview Images */
.proj-link {
  color: black;
  font-weight: 400;
  opacity: 0.5;
}

.proj-link:hover {
  color: black;
  text-decoration: none;
  opacity: 1;
}

/* Blog Section */
#blog {
  background: linear-gradient(129.87deg, #ff8585 0%, #cc5c5c 100%);
}

/* Footer Section */
#footer {
  padding-top: 1%;
  padding-bottom: 2%;
}

.icon {
  color: black;
}

.icon:hover {
  color: black;
  opacity: 1;
}

.icon i {
  margin: 1% 3% 1%;

  transition: font-size 200ms linear;
  font-size: 2.5rem;
}

.icon i:hover {
  transition: font-size 350ms linear;
  font-size: 3.3rem;
}

.title-heading {
  font-size: 3.0rem;
  margin-top: 5%;
  animation: fadeInUp 1.1s;
  white-space: nowrap;
}

#contact-phrase {
  margin-bottom: 5%;
  color: #625f5f;
}

#copyright {
  margin-top: 25px;
}
